.catalog {
  display: grid;
  grid-template-columns: $card-width;
  justify-content: center;
  gap: $card-gap;

  max-width: getMaxWidth();
  margin: 0 auto;

  @each $index, $value in $columns-per-breakpoint {
    @media (min-width: #{$value}) {
      grid-template-columns: repeat(#{$index}, $card-width);
    }
  }

  &__card {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
